.body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

.header-logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.accent-color {
    color: #4BCAFF;
}

.header-menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    background-color: #35444F;
    margin-top: 40px;
    margin-bottom: 0;
}

.header-menu-item {
    padding: 20px 40px;
    border-left: 1px solid #ffffff;
}

.header-menu-item:last-child {
    border-right: 1px solid #ffffff;
}

.header-menu-item:hover {
    background-color: #222F3A;
}

.header-menu-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aside-menu {
    list-style: none;
    padding-left: 0;
    border: 1px solid #000000;
    width: 345px;
    margin-top: 0;
}

.aside-menu-item {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 90px;
}

.aside-menu-item:hover .aside-menu-link {
    color: #35444F;
}

.aside-menu-link {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.main-content {
    width: 885px;
}

.img-wrap {
    display: flex;
    border: 1px solid #000000;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

.img-wrap:hover .content-img {
    transform: scale(1.25);
}

.content-img {
    width: 320px;
    height: 381px;
    transition: transform .5s;
}

.content-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 35px;
    margin-bottom: 0;
}

.footer {
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-around;
}

.footer-menu {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 7px;
    margin: 0;
    padding-left: 0;
    display: flex;
    width: 875px;
    justify-content: space-between;
    align-items: center;
}

.footer-menu-item {
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(49, 129, 166, 0);
}

.footer-menu-item:hover {
    border-bottom: 1px solid #3181A6;
}

.footer-menu-item:hover .footer-menu-link {
    color: #3181A6;
}

.footer-menu-link {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;

}



